        /*
 * Globals
 */
    /* Links */
    
    a,
    a:focus {
        color: #f00;
        text-decoration: underline;
    }
    
    a:hover {
        color: #800;
    }
    /* Custom default button */
    
    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
        color: #333;
        text-shadow: none;
        /* Prevent inheritence from `body` */
        background-color: #fff;
        border: 1px solid #fff;
    }
    /*
 * Base structure
 */
    
    html,
    body {
        height: 100%;
        background-color: #333;
    }
    
    body {
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        font-family: "Courier New", "Courier";
    }
    /* Extra markup and styles for table-esque vertical and horizontal centering */
    
    .site-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        /* For at least Firefox */
        min-height: 100%;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        background-image: url(../img/clusterfuckcover1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .edinburgh-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        /* For at least Firefox */
        min-height: 100%;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/edinburgh.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .about-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        /* For at least Firefox */
        min-height: 100%;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/total-comedy-badges-hires.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
    
    .cover-container {
        margin-right: auto;
        margin-left: auto;
    }
    /* Padding for spacing */
    /*
 * Header
 */
    
    .masthead-brand {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Courier New";
        font-weight: bold;
        font-size: 2em;
        text-shadow: none;
    }
    
    .masthead-nav > li {
        display: inline-block;
    }
    
    .masthead-nav > li + li {
        margin-left: 10px;
    }
    
    .masthead-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        font-weight: bold;
        color: #f00;
        /* IE8 proofing */
        color: rgba(255, 0, 0, 1);
        border-bottom: 2px solid transparent;
        text-shadow: none;
        text-decoration: none;
    }
    
    .masthead-nav > li > a:hover,
    .masthead-nav > li > a:focus {
        background-color: transparent;
        border-bottom-color: #a9a9a9;
        border-bottom-color: rgba(255, 255, 255, .25);
    }
    
    .masthead-nav > .active > a,
    .masthead-nav > .active > a:hover,
    .masthead-nav > .active > a:focus {
        color: #fff;
        border-bottom-color: #fff;
    }
    
    .masthead-brand {
        float: left;
        margin-left: 30px;
    }
    
    #social {
        float: right;
    }
    
    .masthead-nav {
        padding-top: 50px;
        height: 100%;
        margin-bottom: -10px;
    }
    
    @media (min-width: 768px) {
        .masthead-brand {
            float: left;
            margin-left: 30px;
        }
        .masthead-nav {
            float: right;
            padding-top: 0px;
            margin-bottom: 0px;
        }
    }
    /*
 * Cover
 */
    
    .cover {
        padding: 0 20px;
    }
    
    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }
    
    .press {
        margin-bottom: 10px;
    }
    /*
 * Footer
 */
    
    .mastfoot {
        color: #999;
        /* IE8 proofing */
        color: rgba(255, 255, 255, .5);
    }
    /*
 * Affix and center
 */
    
    .cover-container {
        height: auto;
    }
    
    @media (min-width: 768px) {
        /* Pull out the header and footer */
        .masthead {
            position: fixed;
            top: 0;
        }
        .mastfoot {
            position: fixed;
            bottom: 0;
        }
        /* Start the vertical centering */
        .site-wrapper-inner {
            vertical-align: middle;
        }
    }
    /* Handle the widths */
    
    .masthead {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
        background: #fffffe;
        padding: 10px;
        color: #111111;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    }
    
    .section-container {
        background-color: #ffffff;
        width: 100%;
        overflow: hidden;
        color: black;
        text-shadow: none;
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;
    }
    
    .section-container-black {
        background-color: #000000;
        width: 100%;
        overflow: hidden;
        color: white;
        text-shadow: none;
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;
    }
    
    h1 {
        font-family: "Courier New";
        font-weight: Bold;
    }
    
    .inner.cover {
        text-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 1);
    }
    
    .pullleft {
        text-align: left;
    }
    
    .pullright {
        text-align: right;
    }
    
    @media (max-width: 768px) {
        .pullleft {
            text-align: center;
        }
        .pullright {
            text-align: center;
        }
    }
    
    .timeout {
        width: 15em;
        clear: right;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    }
    /* Small devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
        .timeout {
            width: 15em;
        }
    }
    /* Medium devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
        .timeout {
            width: 20em;
            clear: right;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        }
    }
    /* Large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        ...
    }
    
    .overlay {
        background: transparent;
        position: relative;
        width: 100%;
        height: 600px;
        /* your iframe height */
        top: 600px;
        /* your iframe height */
        margin-top: -600px;
        /* your iframe height */
    }
    
    .img-feature {
        max-width: 150px;
        margin: 40px;
    }
    
    h2 {
        font-weight: bold;
    }
    
    .textrow p {
        margin-left: 1em;
        margin-right: 1em;
        text-align: left;
    }
    
    .textrow {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .textrow h2 {
        color: #f00;
    }
    
    #social img {
        width: 32px;
    }
    
    .lead-cover {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        text-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
    }
    
    .mail-form {
        height: 80px;
        vertical-align: middle;
        !important
    }
    
    .mail-container {
        color: black;
        margin: 0 auto;
        padding-top: 25px;
        background: white;
        padding-bottom: 25px;
        background-color: #ffffff;
        width: 100%;
        overflow: hidden;
        color: black;
        text-shadow: none;
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;
    }
    
    @media (max-width: 768px) {
        .form-control {
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
    }
    
    form {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .row.map {
        background-color: white;
        width: 100%;
        margin: 0;
    }
    
    .mail-btn {
        margin: 0 auto;
    }
    
    .img-svg {
        margin: 0;
        padding: 0;
    }
    
    #brand.img-svg {
        width: 300px;
    }
    
    #brand-nav.img-svg {
        width: 100px;
    }
    
    @media screen and (max-width: 1750px) {
        /* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
        /* -------------------------------------
 * General Style
 * ------------------------------------- */
        #timeline-container {
            margin: 0 auto;
            font-size: 100%;
            padding: 0;
            max-width: 800px;
            font-family: Courier;
            color: #000000;
            background: #ffffff;
        }
        #timeline-container > hr {
            display: none;
        }
        /* -------------------------------------
 * timeline
 * ------------------------------------- */
        #timeline {
            list-style: none;
            margin: 50px 0 30px 70px;
            margin-top: 70px;
            border-left: 8px solid #000000;
            width: inherit;
        }
        #timeline li {
            margin: 40px 0;
            position: relative;
            margin-left: -20px;
        }
        #timeline p {
            margin: 0 0 15px;
        }
        .date {
            margin-top: -10px;
            top: 50%;
            left: -100px;
            font-size: 0.8em;
            line-height: 20px;
            text-align: right;
            width: 60px;
            position: absolute;
        }
        .circle {
            margin-top: -10px;
            top: 50%;
            left: -34px;
            right: 0;
            width: 20px;
            height: 20px;
            background: #ffffff;
            border: 5px solid #000000;
            border-radius: 50%;
            display: block;
            position: absolute;
            transition: height 0.3s linear 0.3s;
        }
        .content {
            max-height: 20px;
            padding: 50px 20px 0;
            border-color: transparent;
            border-width: 2px;
            transition: height 0.4s linear, max-height 0.4s linear;
            border-style: solid;
            border-radius: 0.5em;
            position: relative;
            transition: height 0.3s linear 0.3s;
        }
        .content:before,
        .content:after {
            content: "";
            width: 0;
            height: 0;
            border: solid transparent;
            position: absolute;
            pointer-events: none;
            right: 100%;
            transition: width 0.3s linear 0.2s;
            transition: height 0.3s linear 0.3s;
        }
        .content:before {
            border-right-color: inherit;
            border-width: 20px;
            top: 50%;
            margin-top: -20px;
        }
        .content:after {
            border-right-color: #fff;
            border-width: 17px;
            top: 50%;
            margin-top: -17px;
        }
        .content p {
            max-height: 0;
            color: transparent;
            text-align: justify;
            word-break: break-word;
            hyphens: auto;
            overflow: hidden;
            transition: height 0.3s linear 0.3s;
        }
        label {
            font-size: 1.0em;
            position: absolute;
            font-weight: bold;
            z-index: 100;
            text-align: left;
            /*max-width:240px;*/
            left: 22px;
            cursor: pointer;
            top: 15px;
            margin-right: 25px;
            transition: transform 0.2s linear;
            transition: height 0.3s linear 0.3s;
        }
        .radio {
            display: none;
            transition: height 0.3s linear 0.3s;
        }
        .radio:checked + .relative label {
            cursor: auto;
            height: 800px;
            /*transform: translateX(42px);*/
            transition: height 0.3s linear 0.2s;
        }
        .radio:checked + .relative .circle {
            background: #ff0000;
            transition: height 0.3s linear 0.3s;
        }
        .radio:checked ~ .content {
            max-height: 600px;
            height: 100%;
            border-color: #000000;
            margin-right: 20px;
            /*transform: translateX(20px);*/
            transition: all 0.4s linear;
        }
        .radio:checked ~ .content p {
            max-height: 100%;
            color: #000000;
            transition: height 0.3s linear 0.3s;
            transition: color 0.3s linear 0.3s;
        }
    }
    
    @media screen and (min-width: 1750px) {
        /* STYLES HERE */
        /* -------------------------------------
 * General Style
 * ------------------------------------- */
        #timeline-container {
            margin: 0;
            font-size: 100%;
            font-family: Courier;
            color: #000000;
            background: #ffffff;
        }
        #timeline-container > hr {
            position: relative;
            top: 78px;
            border: none;
            color: black;
            background: black;
            height: 8px;
            z-index: 0;
        }
        /* -------------------------------------
 * timeline
 * ------------------------------------- */
        #timeline {
            list-style: none;
            margin: 0 auto;
            margin-top: 70px;
            padding: 0;
            border-top: 8px solid #000000;
            border-left: none;
            display: table;
            border-spacing: 14px 0;
            height: 322px;
        }
        #timeline li {
            display: table-cell;
        }
        #timeline li .relative {
            position: relative;
        }
        #timeline p {
            margin: 0 0 15px;
        }
        .date {
            text-align: center;
            top: -55px;
            left: 0;
            right: 0;
            font-size: 0.95em;
            line-height: 20px;
            position: absolute;
        }
        .circle {
            margin: 0 auto;
            top: -14px;
            left: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background: #ffffff;
            border: 5px solid #000000;
            border-radius: 50%;
            display: block;
            position: absolute;
        }
        .content {
            width: 200px;
            max-height: 0;
            margin-top: 40px;
            vertical-align: top;
            padding: 50px 15px 15px;
            transition: width 0.4s linear, max-height 0.4s linear;
            border-width: 0.5px;
            border-style: solid;
            border-radius: 0.5em;
            position: relative;
        }
        .content:before,
        .content:after {
            content: "";
            width: 0;
            height: 0;
            border: solid transparent;
            position: absolute;
            pointer-events: none;
            bottom: 100%;
        }
        .content:before {
            border-bottom-color: inherit;
            border-width: 13px;
            left: 50%;
            margin-left: -13px;
        }
        .content:after {
            border-bottom-color: #ffffff;
            border-width: 12px;
            left: 50%;
            margin-left: -12px;
        }
        .content p {
            max-height: 0;
            color: transparent;
            text-align: justify;
            word-break: break-word;
            hyphens: auto;
            overflow: hidden;
        }
        label {
            font-size: 1.0em;
            position: absolute;
            z-index: 100;
            cursor: pointer;
            width: 180px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            top: 60px;
            font-weight: 500;
            left: 10px;
            font-family: inherit;
        }
        .radio {
            display: none;
        }
        .radio:checked + .relative label {
            cursor: auto;
            width: 400px;
            transition: width 0.3s linear 0.2s;
        }
        .radio:checked + .relative .circle {
            background: #ff0000;
        }
        .radio:checked ~ .content {
            max-height: 450px;
            border-color: #000000;
            width: 400px;
        }
        .radio:checked ~ .content p {
            max-height: 100%;
            color: #000000;
            transition: color 0.3s linear 0.3s;
        }
    }
    
    .project {
        min-height: 200px;
        padding: 0;
        background-size: cover;
        -webkit-transition: all .6s ease;
        /* Transition for Webkit browsers */
    }
    
    .prj-info {
        padding: 10px;
        position: absolute;
        top: 35%;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: -3em;
        color: white;
        -webkit-transition: all .6s ease;
        /* Transition for Webkit browsers */
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 1.0)
    }
    
    @media (min-width: 1024px) {
        .prj-info p {
            text-align: center;
            font-size: 12px;
        }
    }
    
    .prj-info p {
        text-align: center;
        font-size: 14px;
    }
    /*@media (min-width: 1024px) {
.prj-info{
  
  opacity:0;
}


.prj-info:hover{
opacity:1.0;
      -webkit-transition: all .6s ease;
  }
}
*/
    
    .project:hover {
        color: white;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        /* For Webkit browsers */
        filter: gray;
        /* For IE 6 - 9 */
        -webkit-transition: all .6s ease;
        /* Transition for Webkit browsers */
    }
    
    #current-projects {
        margin-bottom: -25px;
    }
    
    #prj-joehart {
        background-image: url("../img/joehart_internaut.jpg")
    }

    #prj-joehart-alpha {
        background-image: url("../img/joehart_alphabetagamer.png")
    }
    
    #prj-clusterfuck-london {
        background-image: url("../img/clusterfuck-london.jpg")
    }
    
    #prj-clusterfuck-edinburgh {
        background-image: url("../img/clustefuck-edinburgh.jpg")
    }
    
    #prj-secret {
        background-image: url("../img/clusterfuck-secret.jpg")
    }
    
    
    .prose {
        max-width: 620px;
        line-height: 1.5em;
    }
    
    label {
        max-height: 100px;
    }
    
    .clusterfest-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        /* For at least Firefox */
        min-height: 100%;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/clusterfest_hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "futura-pt";
        color: white;
    }
    
    .clusterfest-wrapper h1 {
        font-family: "futura-pt";
        text-transform: uppercase;
        line-height: 50%;
        color: white;
    }
    
    .clusterfest-wrapper h2 {
        font-family: "futura-pt";
        text-transform: uppercase;
        font-style: italic;
        color: white;
    }
    
    .location_container {
        width: 100%;
    }
    
    .location {
        display: inline-block;
        font-size: 32pt;
        color: white;
        text-decoration: none;
    }
    
    #farley-svg {
        width: 80px;
        padding: 10px;
        color: white;
        display: inline-block;
    }
    
    .acts {
        text-transform: uppercase;
    }
    
    .dates {
        font-style: italic;
    }
    
    #cta {
        font-size: 32px;
        padding: 16px 32px;
        font-weight: bold;
    }
    
    #high300 {
        height: 400px;
        min-height: 400px;
        padding-top: 10%;
    }
    
    .col-xs-15,
    .col-sm-15,
    .col-md-15,
    .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .col-xs-15 {
        width: 20%;
        float: left;
    }
    
    @media (min-width: 768px) {
        .col-sm-15 {
            width: 20%;
            float: left;
        }
    }
    
    @media (min-width: 992px) {
        .col-md-15 {
            width: 20%;
            float: left;
        }
    }
    
    @media (min-width: 1200px) {
        .col-lg-15 {
            width: 20%;
            float: left;
        }
    }
    
    .listings_block {
        padding: 0;
        min-height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }

@media(max-width:960px){


    .listings_block h3{
      font-size:18px;
    }
  }
    
    .act_image {
        background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/alexander_bennett.jpg);
        display: table;
    }
    
    .act_image:hover {
        background-image: url(../img/alexander_bennett.jpg);
    }
    .clusterfest_green{
      background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/clusterfest_green.png);

    }
    .clusterfest_green:hover{
      background-image:  url(../img/clusterfest_green.png);
    }
        .clusterfest_red{
      background-image: linear-gradient( rgba(0,0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/clusterfest_red.png);

    }
    .clusterfest_red:hover{
      background-image:  url(../img/clusterfest_red.png);
    }
        .clusterfest_yellow{
      background-image: linear-gradient( rgba(0,0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/clusterfest_yellow.png);

    }
    .clusterfest_yellow:hover{
      background-image:  url(../img/clusterfest_yellow.png);
    }
        .clusterfest_blue{
      background-image: linear-gradient( rgba(0,0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/clusterfest_blue.png);

    }
    .clusterfest_blue:hover{
      background-image:  url(../img/clusterfest_blue.png);
    }
    .alexander_bennett{
      background-image: linear-gradient( rgba(255, 228, 0, 0.45), rgba(255, 228, 0, 0.45)), url(../img/alexander_bennett.jpg);

    }

    .alexander_bennett:hover{
      background-image: url(../img/alexander_bennett.jpg);

    }
    .andrew_hunter_murray{
      background-image: linear-gradient( rgba(125, 194, 66, 0.45), rgba(125, 194, 66, 0.45)), url(../img/andrew_hunter_murray.jpg);

    }
    .andrew_hunter_murray:hover{
      background-image: url(../img/andrew_hunter_murray.jpg);

    }

    .soton_spotlights{
    background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/soton_spotlights.jpg);

    }
    .soton_spotlights:hover{
      background-image: url(../img/soton_spotlights.jpg);

    }

    .notflix{
    background-image: linear-gradient( rgba(0, 255, 255, 0.45), rgba(0, 255, 255, 0.45)), url(../img/notflix.jpg);

    }
    .notflix:hover{
      background-image: url(../img/notflix.jpg);

    }
    .elf_lyons{
    background-image: linear-gradient( rgba(0, 255,0, 0.45), rgba(0, 255, 0, 0.45)), url(../img/elf_lyons.jpg);

    }
    .elf_lyons:hover{
      background-image: url(../img/elf_lyons.jpg);

    }
    .felicity_ward{
    background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/felicity_ward.jpg);

    }
    .felicity_ward:hover{
      background-image: url(../img/felicity_ward.jpg);

    }
    .hell_to_play{
    background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/hell_to_play.jpg);

    }
    .hell_to_play:hover{
      background-image: url(../img/hell_to_play.jpg);

    }
    .clusterfuck_show{
    background-image: linear-gradient( rgba(255, 165, 0, 0.45), rgba(255, 165, 0, 0.45)), url(../img/clusterfuck_show.jpg);

    }
    .clusterfuck_show:hover{
      background-image: url(../img/clusterfuck_show.jpg);

    }
    .beard_of_zeus{
    background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/beard_of_zeus.jpg);

    }
    .beard_of_zeus:hover{
      background-image: url(../img/beard_of_zeus.jpg);

    }
    .sian_and_zoe{
    background-image: linear-gradient( rgba(0, 0, 255, 0.45), rgba(0, 0, 255, 0.45)), url(../img/sian_and_zoe.jpg);

    }
    .sian_and_zoe:hover{
      background-image: url(../img/sian_and_zoe.jpg);

    }
    .jolly_boat{
    background-image: linear-gradient( rgba(30, 100, 255, 0.45), rgba(30, 100, 255, 0.45)), url(../img/jollyboat.jpg);

    }
    .jolly_boat:hover{
      background-image: url(../img/jollyboat.jpg);

    }
    .princes_of_main{
    background-image: linear-gradient( rgba(160,32,240, 0.45), rgba(160,32,240, 0.45)), url(../img/princes_of_main.jpg);

    }
    .princes_of_main:hover{
      background-image: url(../img/princes_of_main.jpg);

    }
    .glenn_moore{
    background-image: linear-gradient( rgba(255,105,180, 0.45), rgba(255,105,180, 0.45)), url(../img/glenn_moore.jpg);

    }
    .glenn_moore:hover{
      background-image: url(../img/glenn_moore.jpg);

    }
    .best_boy{
    background-image: linear-gradient( rgba(0, 155, 0, 0.45), rgba(0, 155, 0, 0.45)), url(../img/best_boy.jpg);

    }
    .best_boy:hover{
      background-image: url(../img/best_boy.jpg);

    }
    .tamar_broadbent{
    background-image: linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../img/tamar_broadbent.jpg);

    }
    .tamar_broadbent:hover{
      background-image: url(../img/tamar_broadbent.jpg);

    }
    .joe_hart{
    background-image: linear-gradient( rgba(100, 200, 255, 0.45), rgba(100, 200, 255, 0.45)), url(../img/joe_hart.jpg);

    }
    .joe_hart:hover{
      background-image: url(../img/joe_hart.jpg);

    }
    
    .listing_inner_container.category h3 {
        z-index: 3;
    }
    
    .listing_inner_container {
        display: table-cell;
        padding: 20px;
        text-align: left;
    }
    
    .listing_inner_container.category {
        text-align: center;
    }
    .full-show p{
      margin-left:1em;
      margin-right: 1em;
      text-align: left;
    }
    a.block{
      display:block;
      width:inherit;
      z-index:0;
    }

    .show_image{
      width:200px;
      height:200px;
      margin-bottom:20px;
    }

    h4.act{
      margin-bottom:0;
      font-family: "proxima-nova-alt";
    }

    h3.show-title{
      margin-top:0;
      font-family: "proxima-nova-alt";
      font-weight: 700;
      text-transform: uppercase;
    }

    .listing_inner_container h3{
      font-family: "proxima-nova-alt";
      font-weight: 700;
      text-transform: uppercase;
    }

    @font-face {
    font-family: 'burst_my_bubbleregular';
    src: url('burstmybubble-webfont.woff2') format('woff2'),
         url('burstmybubble-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'burst_my_bubblebold';
    src: url('burstmybubblebold-webfont.woff2') format('woff2'),
         url('burstmybubblebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    .truck-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        /* For at least Firefox */
        min-height: 100%;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
        background: #bc2025;
        font-family: 'Oswald', sans-serif;
        color: white;
        text-shadow: none;
    }

    #titter-title{
        font-family: 'burst_my_bubbleregular';
        font-weight: normal;
        width: 300px;
        height:300px;
        margin: 0 auto;
        display: block;
        color: black;
        background-color: white;
        text-shadow: none;
        border-radius: 150px;
        vertical-align: center;
        font-size:118px;
        line-height: 96px;
        margin-top:15%;

    }

    #titter-title > span {
        font-family: "bebas-neue", sans-serif;
        font-weight:normal;
        display: block;
        color:#bc2025;
        text-shadow: none;
        text-transform: uppercase;
        font-size:64px;
        letter-spacing: 5px;
    }

    #titter-title span:first-child{
        padding-top:20px;
    }

    #titter-title span:last-child{
        margin-top:-30px;
    }

    .truck-description{
        max-width:400px;
        margin:0 auto;
        font-size:13pt;
        text-align: left;
        text-shadow: none;
    }

    .truck-time{
        font-size:18pt;
    }